@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #222;
}

/*INICIO PRESENTACION */
.containerInicio {
    width: 100%;
    height: 100vh;
}

.containerInicio .fondoVector {
    background-image: url("./images/Fondos/carretera.jpg");
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.fondoTransparent {
    width: 100%;
    height: 100vh;
    background: #1111117a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.fondoTransparent .content {
    max-width: 900px;
    text-align: center;
}

.fondoTransparent .content h2 {
    font-size: clamp(2.2rem, 4vw, 5rem);
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: oblique;
    margin-top: 3rem;
}

.fondoTransparent .content h2 span {
    font-weight: 500;
    font-style: normal;
}

.fondoTransparent .content h2 span:nth-child(2) {
    font-style: oblique;
    font-weight: bold;
}

.fondoTransparent .content h3 {
    font-size: clamp(1rem, 1vw, 1.7rem);
    color: white;
    margin-top: 2rem;
}

.btnReservar {
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: #fff;
    background: #dc3545;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 15px;
}

.btnReservar:hover {
    color: #fff8e8;
    letter-spacing: 6px;
}

/*NAVBAR */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

nav.scrolled {
    background-color: #fff8e88a;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

nav .logo {
    filter: invert(50%) brightness(200%);
    width: 250px;
    height: 62px;
}

nav.scrolled .logo {
    filter: contrast(200%);
}

nav .logo img {
    width: 100%;
}

nav .navigation {
    position: relative;
    display: flex;
    padding-top: 1rem;
}

nav .navigation li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation li a {
    text-decoration: none;
    color: #fff8e8;
    font-weight: 500;
}

nav.scrolled .navigation li a {
    color: #111;
    font-weight: 500;
}

nav .navigation li a:hover {
    color: #ff3d50;
    font-weight: 600;
    letter-spacing: 2px;
}

/*ABOUT*/
.about {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about .contentBx {
    background: #222;
    padding: 100px;
    width: 50%;

}

.heading {
    color: #ff3d50;
    font-size: clamp(3rem, 4vw, 5rem);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    font-family: cream;
}

.about .contentBx .text {
    color: #fff8e8;
    font-size: clamp(0.8rem, 1.2vw, 1.3rem);
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBx {
    background-image: url("./images/Fondos/patronSeñales.jpeg");
    width: 50%;
    background-size: cover;
    background-position: center;
    filter: invert(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .imgBx .containerImg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff8e8d2;
    filter: invert(100%);
    border-radius: 15px;
}

.about .imgBx img {
    position: absolute;
    filter: contrast(200%);
}

/*SERVICES*/
.services {
    background: #dc3545;
    padding: 100px;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#txtServices {
    color: #fff8e8;

}

.sliderContainer {
    max-width: 1120px;
    width: 100%;
    height: 600px;
}

.sliderContent {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.cardService {
    height: 470px !important;
    border-radius: 25px;
    background-color: #fff8e8;
    transition: all 0.3s;
    position: relative;
    margin-top: 4rem;
}

.cardService:hover {
    transform: scale(1.15);
}

.image-content,
.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #222;
    border-radius: 25px 25px 0 25px;
    border: none;
    /* Eliminar el borde */
    box-shadow: none;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #222;
    border: none;
    /* Eliminar el borde */
    box-shadow: none;
    /* Eliminar la sombra */
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff8e8;
    border: none;
    /* Eliminar el borde */
    box-shadow: none;
}

.cardImage {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff8;
    border: 3px solid #000;
    padding: 3px;
}

.cardImage .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardContent h2 {
    font-size: clamp(1.3rem, 1.5vw, 1.5rem);
    font-family: poppins;
    font-weight: 600;
    color: #333;
    z-index: 9999;
}

.cardContent p {
    font-size: clamp(1rem, 1vw, 1rem);
    font-family: cafe;
    color: #222;
}

.btnService {
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #dc3545;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnService:hover {
    background-color: #b42b38;
}

.swiperNvBtn {
    color: #b42b38 !important;
    border-radius: 50%;
}

.swiperNvBtn:hover {
    color: #df3748 !important;
}

.swiperNvBtn::before,
.swiperNvBtn::after {
    font-size: 1.3rem !important;
    border-radius: 50%;
    padding: 8px;
    font-weight: 700;
}

.swiper-button-prev {
    left: 0;
    top: 30% !important;
}

.swiper-button-next {
    right: 0;
    top: 30% !important;
}

/*REVIEWS*/

.containerComentarios {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse farthest-corner at -6000px -30px, #dc3545 71%, rgba(0, 0, 0, 0) 0%, #222 70%);
    margin-bottom: 3rem;
}

.containerReviews {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
}

.containerInfoContact {
    color: #fff8e8;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.containerInfoContact h1 {
    text-align: left;
    letter-spacing: 5px;
    font-family: Poppins;
    font-weight: 700;
}

.containerInfoContact .data {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.containerInfoContact .data p {
    font-size: clamp(1rem, 1.4vw, 1.5rem);
    font-family: cafe;
}

.containerInfoContact .data p i {
    font-size: 2rem;
    color: #ff5768;
    margin-right: 10px;
}

.containerInfoContact .links {
    display: flex;
    gap: 15px;
}

.containerInfoContact .links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: #ff5768;
    text-align: center;
    transition: .1s;
}

.containerInfoContact .links a i {
    color: #fff8e8;
    line-height: 40px;
    font-size: 20px;
}

.containerReview {
    display: grid;
    gap: 2rem;
}

.containerReview .card {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #fff8e8;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.containerReview .card img {
    min-width: 75px;
    height: 75px;
    border-radius: 100%;

}

.containerReview .card .cardContentReview {
    display: flex;
    gap: 1rem;
}

.containerReview .card .cardContentReview span i {
    font-size: 2rem;
    color: #ff3d50;
}

.containerReview .card .cardContentReview .cardDetails p {
    font-style: italic;
    color: #b42b38;
    margin-bottom: 1rem;
}

.containerReview .card .cardContentReview .cardDetails h4 {
    text-align: right;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    font-weight: 500;
}

.containerReview button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ff3c4f, #ff5768);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.containerReview button a{
    text-decoration: none;
    color: white;
}
.containerReview button:hover{
    background: #b42b38;
    color: #fff8e8;
}
/*Comentarios*/
.alert
{
    margin: 1rem;
}
#txtComentario
{
    text-align: center;
    color: #ff5768;
    font-family: Modern;
    margin-top: 4rem;
}
.fondoReview
{
    background: #111;
    width: 100%;
    min-height: 100vh;
    padding-top: 5rem;
}
.divComentar
{
    width: 100%;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.ContainerOpinion
{
    width: 400px;
    background-color: #111;
    border-radius:25px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}
.ContainerOpinion h3
{
    font-family: modern;
    color: white;
    font-size: clamp(1.2rem, 1.2vw, 1.5rem);
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.ContainerOpinion h3 span
{
    color: #dc3545;
    font-family: modern;
    font-style:oblique;
}
.textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #000;
    background-color: #202020;
    padding: 10px;
    color: #eee;
    resize: none;
}
.divComentar button {
    border: none;
    background-color: #ff3c4f;
    font-family: cafe;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
}

.divComentar button:hover {
    background-color: #b42b38;
}
/*FOOTER*/
footer {
    background: #343434;
    padding-top: 25px;
    position: relative;
}

.containerFooter {
    width: 100%;
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerFooter .footerContent {
    flex:1;
    max-width: 300px;
    margin: 0 10px;
}

.containerFooter .footerContent h3 {
    font-size: clamp(1rem, 1.4vw, 1.5rem);
    margin-bottom: 1rem;
    text-align: center;
    color: #ff5768;
}

#contactH3 {
    text-align: left;
}

.containerFooter .footerContent p {
    margin: auto;
    padding: 7px;
    color: #fff8e8;
    font-family: cafe;
}

.containerFooter .footerContent p i {
    background: #ff5768;
    text-align: center;
    transition: .1s;
    font-size: clamp(1rem, 1.1vw, 1.2rem);
    color: #fff8e8;
    margin-right: 10px;
    padding: .4rem;
}

.containerFooter .footerContent ul {
    text-align: center;
}

.containerFooter .footerContent ul.list {
    padding: 0;
}

.containerFooter .footerContent ul.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.containerFooter .footerContent ul.list li a {
    text-decoration: none;
    color: #fff8e8;
}

.containerFooter .footerContent ul.list li a:hover {
    color: #dc3545;
}

.containerFooter .footerContent ul.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #ff3d50;
    transition-duration: .5s;
}

.containerFooter .footerContent ul.list li:hover::before {
    width: 70px;
}

.containerFooter .footerContent ul.socialIcons {
    text-align: center;
    padding: 0;
}

.containerFooter .footerContent ul.socialIcons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.containerFooter .footerContent ul.socialIcons li a i {
    color: white;
    font-size: clamp(1rem, 1.1vw, 1.2rem);
    background: #ff5768;
    text-align: center;
    transition: .1s;
    padding: .4rem;
}

.containerFooter .footerContent ul.socialIcons li a i:hover {
    background: #df3748;
}

.footerBot {
    background: #111;
    text-align: center;
    padding: 10px 0;
    color: #fff8e8;
}

.footerBot span i {
    color: #ff5768;
}

.footerBot span a {
    text-decoration: none;
    color: #ff5768;
}

/*RESPONSIVE*/
@media only screen and (max-width: 900px) {
    .containerReviews {
        grid-template-columns: repeat(1, 100%);
    }

    .containerReview {
        grid-template-columns: repeat(2, 1fr);
    }

    .containerReview .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx {
        width: 100%;
    }

    .about .imgBx {
        width: 100%;
        height: 400px;
    }
}

@media only screen and (max-width: 750px) {
    .containerReview {
        grid-template-columns: repeat(1, 1fr);
    }

    .containerReview .card {
        flex-direction: row;
        justify-content: initial;
    }
    .containerFooter
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    .containerFooter .footerContent {
        max-width: 100%;
        margin: 10px 0;
    }

}

@media only screen and (max-width: 600px) {
    .services {
        padding: 20px;
    }

    .containerInfoContact {
        padding-inline: 2rem;
    }

    .about .contentBx {
        padding: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .containerInfoContact {
        padding-inline: 1rem;
    }

    .containerInfoContact h1 {
        text-align: center;
    }

    .containerInfoContact .links {
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .containerReviews {
        padding: 1rem;
    }

    .containerReview .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}